body, footer{
    display: grid;
    place-items: center;
}
body{
    color: white;
    width: 1000px;
    margin: 0 auto;
    background:#333;
}
div{
    margin-bottom: 20px;
}
input[type=submit]{
    width: 100%;
}
p{
    margin: 1px;
}
footer{
    margin-top: 20px;
}
.i{
    width: 300px;
    height: 300px;
    float: left;
    background: #3a7aa5;
    margin: 10px;
    padding: 90px;
    display: grid;
    place-items: center;
    border-radius: 25px;
}